<!DOCTYPE html>
<html>
<head>
	<title>Smart Car Box</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Fonts-->

	<link rel="stylesheet" type="text/css" href="/assets/fonts/fontawesome/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/fonts/pe-icon/pe-icon.css" />
	<!-- Vendors-->
	<link rel="stylesheet" type="text/css" href="/assets/vendors/bootstrap/grid.css" />
	<link rel="stylesheet" type="text/css" href="/assets/vendors/magnific-popup/magnific-popup.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/vendors/swiper/swiper.css" />
	<!-- App & fonts-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<style>
	   #map {
		height: 400px;
		width: 100%;
	   }
	</style>
</head>

<body>
	<div class="page-wrap">

		<!-- header -->
		<header class="header header--fixed">
			<div class="container">
				<div class="header__inner">
					<div class="header__logo"><a href="index.html"><img src="/assets/img/logo.png" width="30%" alt=""/></a></div>
					<div class="header__menu">

						<!-- onepage-nav -->
						<nav class="onepage-nav">

							<!-- onepage-menu -->
							<ul class="onepage-menu">
								<li class="current-menu-item"><a href="#id-1">Home</a>
								</li>
								<li><a href="#id-2">Chi Siamo</a>
								</li>
								<li><a href="#id-3">Mappa</a>
								</li>
								<li><a href="#id-5">Contatti</a>
								</li>
							</ul><!-- onepage-menu -->

							<div class="navbar-toggle"><span></span><span></span><span></span></div>
						</nav><!-- End / onepage-nav -->

					</div>
				</div>
			</div>
		</header><!-- End / header -->

		<!-- Content-->
		<div class="md-content">

			<!-- hero -->
			<div class="hero" id="id-1" style="background-image: url('/assets/img/bg/1.jpg');">
				<div class="hero__wrapper">
					<div class="container">
						<div class="row" style="text-align: center; padding-top: 10%">
							<img src="/assets/img/logo_tot.png" style="width: 50%; opacity: 0.75">
						</div>
						<div class="row">
							<div class="col-lg-12 ">
								<h1 class="hero__title">We can

									<!-- typing__module -->
									<div class="typing__module" data-options='{"typeSpeed":60}'>
										<div class="typed-strings"><span>Track</span><span>Monitor</span><span>Recover</span>
										</div><span class="typed"></span>
									</div><!-- End / typing__module -->

								</h1>
								<p class="hero__text">Grazie a Smart Car Box potrai tenere sempre sotto controllo il tuo veicolo: <br> - Conoscerne la posizione <br> - Vederne il percorso <br> - Interrogarlo sulla posizione in realtime <br><b> E' ora possibile!! </b></p>
							</div>
						</div><span id="back-to-down"><i class="pe-7s-angle-down"></i></span>
					</div>
				</div>
			</div><!-- End / hero -->


			<!-- Section -->
			<section class="md-section bg-gray" id="id-2">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 ">

							<!-- slide-image -->
							<div class="slide-image">

								<!-- swiper__module swiper-container -->
								<div class="swiper__module swiper-container slide-image__front" data-options='{"slidesPerView":1,"spaceBetween":0}'>
									<div class="swiper-wrapper">
										<div class="slide-item" style="background-image: url('assets/img/about/1.png');"></div>
										<div class="slide-item" style="background-image: url('assets/img/about/2.jpg');"></div>
										<div class="slide-item" style="background-image: url('assets/img/about/3b.jpg');"></div>
									</div>
									<div class="swiper-pagination-custom"></div>
								</div><!-- End / swiper__module swiper-container -->


								<!-- swiper-thumbnails__module swiper-container -->
								<div class="swiper-thumbnails__module swiper-container slide-image__black" data-options='{"slidesPerView":1,"spaceBetween":0,"delay":10000}'>
									<div class="swiper-wrapper">
										<div class="slide-item" style="background-image: url('/assets/img/about/1b.jpg');"></div>
										<div class="slide-item" style="background-image: url('/assets/img/about/2b.jpg');"></div>
										<div class="slide-item" style="background-image: url('/assets/img/about/3.jpg');"></div>
									</div>
								</div><!-- End / swiper-thumbnails__module swiper-container -->

							</div><!-- End / slide-image -->

						</div>
						<div class="col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">

							<!-- title -->
							<div class="title">
								<h2 class="title__title">Chi Siamo</h2>
							</div><!-- End / title -->

							<p class="fz-16">Il progetto SmartCarBox (SCB) è realizzato dal pizza-team, un gruppo di studenti dell'Università di Cagliari.
							Il progetto fa seguito ai laboratori del Corso di Reti Radiomobili (Corso di Studi di Ing. delle Telecomunicazioni).

							<br><b>Contributori:</b>
							<br>
							<br> - Matteo Anedda (docente del corso)
							<br> - Enrico Ferrara
							<br> - Maura Pintor
							<br> - Marco Uras</p>
							<p class="fz-16"><b>Di cosa si tratta?</b><br>
							é un sistema per il tracciamento di un veicolo tramite GPS. L'accensione del sistema avviene quando la macchina parte e invia tempestivamente un messaggio tramite Telegram al proprietario.</p>
						</div>
					</div>

					<!-- swiper__module swiper-container -->
					<div class="swiper__module swiper-container mt-50" data-options='{"slidesPerView":3,"spaceBetween":30,"autoplay":2000,"breakpoints":{"640":{"slidesPerView":1},"991":{"slidesPerView":2}}}'>
						<div class="swiper-wrapper">

							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-speaker"></i></div>
								<h3 class="service__title">Allarme</h3>
								<p class="service__text">Quando il veicolo parte viene inviato un messaggio d'allarme sull'applicazione Telegram</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-signal"></i></div>
								<h3 class="service__title">Comunicazione</h3>
								<p class="service__text">Nel momento in cui il veicolo si ferma per un tempo minimo definito il sistema avvisa nuovamente il proprietraio tramite un messaggio su Telegram</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-map-marker"></i></div>
								<h3 class="service__title">Richiesta Posizione</h3>
								<p class="service__text">è possibile richiede al sistema la posizione esatta del veicolo</p>
							</div><!-- End / service -->

							<!---->
							<!--&lt;!&ndash; service &ndash;&gt;-->
							<!--<div class="service mb-0">-->
								<!--<div class="service__icon"><i class="pe-7s-gleam"></i></div>-->
								<!--<h3 class="service__title">Risk Management</h3>-->
								<!--<p class="service__text">Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur,</p>-->
							<!--</div>&lt;!&ndash; End / service &ndash;&gt;-->
							<!---->
							<!---->
							<!--&lt;!&ndash; service &ndash;&gt;-->
							<!--<div class="service mb-0">-->
								<!--<div class="service__icon"><i class="pe-7s-anchor"></i></div>-->
								<!--<h3 class="service__title">Marketing Planning</h3>-->
								<!--<p class="service__text">Duis porttitor libero ac egestas euismod. Maecenas quis felis turpis. Nulla quis</p>-->
							<!--</div>&lt;!&ndash; End / service &ndash;&gt;-->
							<!---->
							<!---->
							<!--&lt;!&ndash; service &ndash;&gt;-->
							<!--<div class="service mb-0">-->
								<!--<div class="service__icon"><i class="pe-7s-refresh"></i></div>-->
								<!--<h3 class="service__title">Site Security</h3>-->
								<!--<p class="service__text">Etiam non varius justo, vel tempor mi. Nulla facilisi. Fusce at tortor arcu.</p>-->
							<!--</div>&lt;!&ndash; End / service &ndash;&gt;-->
							<!---->
							<!---->
							<!--&lt;!&ndash; service &ndash;&gt;-->
							<!--<div class="service mb-0">-->
								<!--<div class="service__icon"><i class="pe-7s-joy"></i></div>-->
								<!--<h3 class="service__title">Risk Management</h3>-->
								<!--<p class="service__text">Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non</p>-->
							<!--</div>&lt;!&ndash; End / service &ndash;&gt;-->
							<!---->
							<!---->
							<!--&lt;!&ndash; service &ndash;&gt;-->
							<!--<div class="service mb-0">-->
								<!--<div class="service__icon"><i class="pe-7s-lock"></i></div>-->
								<!--<h3 class="service__title">Investment Planning</h3>-->
								<!--<p class="service__text">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque.</p>-->
							<!--</div>&lt;!&ndash; End / service &ndash;&gt;-->
							<!---->
							<!---->
							<!--&lt;!&ndash; service &ndash;&gt;-->
							<!--<div class="service mb-0">-->
								<!--<div class="service__icon"><i class="pe-7s-magnet"></i></div>-->
								<!--<h3 class="service__title">Site Security</h3>-->
								<!--<p class="service__text">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus</p>-->
							<!--</div>&lt;!&ndash; End / service &ndash;&gt;-->
							<!---->
						</div>
					</div><!-- End / swiper__module swiper-container -->

				</div>
			</section>
			<!-- End / Section -->


			<!-- Section -->
			<section class="md-section" style="padding: 2%" id="id-3">
				<div class="container">
					<h2 class="title__title">Map</h2>
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Apri menu<span class="caret"></span></button>
						  <ul class="dropdown-menu" role="menu">
							<li><a href="ultimotragitto">Ultimo Tragitto {{ last_trip }}</a></li>
							<li><a href="#id-5">Penultimo Tragitto</a></li>
							<li><a href="#">Link 3</a></li>
							<li class="divider"></li>
							<li><a href="#">Link 4</a></li>
						  </ul>
					</div>
					<div id="map"></div>
					<script>
						function initMap(){
								var centerMap = {lat: 39.210129, lng: 9.113895};

								var map = new google.maps.Map(document.getElementById('map'), {
									zoom: 14,
									center: centerMap
								});

								// Instantiate a directions service.
								var directionsService = new google.maps.DirectionsService;
								var directionsDisplay = new google.maps.DirectionsRenderer({
									map: map,
									suppressMarkers: true
								});

								var locations = {{coordinate}}

								var iconSymbol = {
									url: 'http://www.klicktours.com//assets/admin/img/icon/car-xxl.png',
									scaledSize: new google.maps.Size(35, 35)
								};

								for (i = 0; i < locations.length; i++) {
									marker = new google.maps.Marker({
										position: ({lat: locations[i][0], lng: locations[i][1]}),
										map: map,
										icon: iconSymbol,
										title: "original"
									});
								};

								for (i = 1; i < locations.length; i++) {

									var markerA = new google.maps.Marker({
										position: ({lat: locations[i-1][0], lng: locations[i-1][1]}),
										icon: iconSymbol,
										title: "point A",
										label: "A",
										map: map
									});
									var markerB = new google.maps.Marker({
										position: ({lat: locations[i][0], lng: locations[i][1]}),
										icon: iconSymbol,
										title: "point B",
										label: "B",
										map: map
									});
								}

							//var pointA = {lat: locations[0][0], lng: locations[0][1]};
							//var pointB = {lat: locations[locations.length][0], lng: locations[locations.length][1]};
								x = locations.length-1;

								var pointA = {lat: locations[0][0], lng: locations[0][1]};
								var pointB = {lat: locations[x][0], lng: locations[x][1]};

							// get route from A to B
							calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

						}

						function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
						    var locations = {{coordinate}}
							var waypts = [];

						    if(locations.length>22){
								maxfor = 22;
							}
							else maxfor = locations.length;

							for (var i = 1; i < maxfor; i++) {
								point = {lat: locations[i][0], lng: locations[i][1]};

								waypts.push({
									location: point,
									stopover: true
								});
							}

							//alert(waypts);

							directionsService.route({
								origin: pointA,
								destination: pointB,
								waypoints: waypts,
								optimizeWaypoints: true,
								avoidTolls: true,
								avoidHighways: false,
								travelMode: google.maps.TravelMode.DRIVING
							}, function (response, status) {
								if (status == google.maps.DirectionsStatus.OK) {
									directionsDisplay.setDirections(response);
								} else {
									window.alert('Directions request failed due to ' + status);
								}
							});
						}


					</script>
					<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAE1oQtwl5KHeuS5JPWIn_gMio2jnWWGg&callback=initMap"></script>
				</div>

			</section>
			<!-- End / Section -->

			<!-- Section -->
			<section class="md-section bg-gray" id="id-5">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<img src="/assets/img/about/contacts.jpg">
						</div>
						<div class="col-lg-6 ">

							<!-- title -->
							<div class="title">
								<h2 class="title__title">Contatti</h2>
							</div><!-- End / title -->

							<div class="mb-40">

								<!-- contact -->
								<div class="contact">
									<h3 class="contact__title">Indirizzo</h3>
									<div>Università di Cagliari - Facoltà di Ingegneria e Architettura - Via Marengo, 2 Cagliari (CA)</div>


								</div><!-- End / contact -->


								<!-- contact -->
								<div class="contact">
									<h3 class="contact__title">email</h3>
									<div><a href="">samrtcarbox@gmail.com</a></div>
								</div><!-- End / contact -->


								<!-- contact -->
								<div class="contact">
									<h3 class="contact__title">Telefono</h3>
									<div>+070 675 5009</div>
								</div><!-- End / contact -->

							</div>
						</div>
<!--
						<div class="col-lg-7 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">

							&lt;!&ndash; title &ndash;&gt;
							<div class="title">
								<h2 class="title__title">Or drop a message</h2>
							</div>&lt;!&ndash; End / title &ndash;&gt;

							<div class="form-wrapper">

								&lt;!&ndash; form-item &ndash;&gt;
								<div class="form-item form-item&#45;&#45;half">
									<label class="form__label">email,<span>*</span>
									</label>
									<input class="form-control" type="text" name="input" placeholder=""/>
								</div>&lt;!&ndash; End / form-item &ndash;&gt;


								&lt;!&ndash; form-item &ndash;&gt;
								<div class="form-item form-item&#45;&#45;half">
									<label class="form__label">Name,<span>*</span>
									</label>
									<input class="form-control" type="text" name="input" placeholder=""/>
								</div>&lt;!&ndash; End / form-item &ndash;&gt;


								&lt;!&ndash; form-item &ndash;&gt;
								<div class="form-item">
									<label class="form__label">message<span>*</span>
									</label>
									<textarea class="form-control"></textarea>
								</div>&lt;!&ndash; End / form-item &ndash;&gt;


								&lt;!&ndash; form-item &ndash;&gt;
								<div class="form-item">
									<a class="md-btn btn-custom" href="#">Send message
									</a>
								</div>&lt;!&ndash; End / form-item &ndash;&gt;

							</div>
						</div>
-->
					</div>
				</div>
			</section>
			<!-- End / Section -->

		</div>
		<!-- End / Content-->

		<!-- footer -->
		<div class="footer">
			<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
			<div class="container">
				<div class="footer__wrapper">
					<div class="footer__social">

									<!-- social-icon -->
									<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
									</a><!-- End / social-icon -->


									<!-- social-icon -->
									<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
									</a><!-- End / social-icon -->


									<!-- social-icon -->
									<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
									</a><!-- End / social-icon -->


									<!-- social-icon -->
									<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
									</a><!-- End / social-icon -->


									<!-- social-icon -->
									<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
									</a><!-- End / social-icon -->

					</div>
					<p class="footer__copy">Made with <img src="/assets/img/love.svg" style="width: 2%"> by <b><span style="color:orange">Pizza Team </span></b></p>
				</div>
			</div>
		</div><!-- End / footer -->

	</div>
	<!-- Vendors-->
	<script type="text/javascript" src="/assets/vendors/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
	<script type="text/javascript" src="/assets/vendors/isotope-layout/isotope.pkgd.js"></script>
	<script type="text/javascript" src="/assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/jquery.easing/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/assets/vendors/masonry-layout/masonry.pkgd.js"></script>
	<script type="text/javascript" src="/assets/vendors/swiper/swiper.jquery.js"></script>
	<script type="text/javascript" src="/assets/vendors/menu/menu.js"></script>
	<script type="text/javascript" src="/assets/vendors/typed/typed.min.js"></script>
	<!-- App-->
	<script type="text/javascript" src="/assets/js/main.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>